<h2>Farm</h2>
<br />
<% if Asset.where(name: 'Animal').count > 0 %>
  <h3>
    Animals:
    <span><%= @total_animals_count %></span>
  </h3>
<% end %>

<% if Asset.where(name: 'Crop').count > 0 %>
  <h3>
    Crops:
    <span>
      <%= Asset.where(name: 'Crop').order('created_at desc').limit(1).first.count %>
    </span>
  </h3>
<% end %>
<%= image_tag('grumpy.jpg', class: 'logo', alt: 'Cats', size: "465x265") %>
<h3 class="muted">Container: <%= @hostname %></h3>
<h3>Visitors: <%= pluralize(@total_hits, 'time') %></h3>